<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "", prefix: assigns[:page_title] && "73k \\ " || "73k" %>
    <meta name="author" content="Adam Piontek"/>
    <link rel="alternate" type="application/rss+xml" title="73k Blog - Adam Piontek" href="<%= Routes.feed_path(@conn, :rss) %>" />
    <link rel="prefetch" href="<%= Routes.static_path(@conn, "/images/icons.svg") %>" as="image" type="image/svg+xml">
    <link rel="me" href="mailto:adam@73k.us"/>
    <link rel="me" href="sms:+16462341697"/>
    <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/site.webmanifest") %>">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/safari-pinned-tab.svg") %>" color="#78868a">
    <meta name="apple-mobile-web-app-title" content="73k">
    <meta name="application-name" content="73k">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="favicon.ico">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>

      <%# inserting img code to suppress img prefetch warning for svg sprites %>
      <img src="<%= Routes.static_path(@conn, "/images/icons.svg") %>" style="display: none">

      <%= render "_navbar.html", assigns %>

      <%= @inner_content %>

      <%#= if footer_absolute?(@conn) do %>
      <footer class="footer73k footer bottom-0 end-0 bg-dark">
        <div class="px-2 px-sm-3">
          <span class="text-gray-300">&copy; Copyright <%= Date.utc_today |> Map.get(:year) %> Adam Piontek</span>
        </div>
      </footer>

  </body>
</html>
