pre {
  line-height: 125%;
}
td.linenos .normal {
  color: #37474f;
  background-color: #263238;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos {
  color: #37474f;
  background-color: #263238;
  padding-left: 5px;
  padding-right: 5px;
}
td.linenos .special {
  color: #607a86;
  background-color: #263238;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos.special {
  color: #607a86;
  background-color: #263238;
  padding-left: 5px;
  padding-right: 5px;
}
pre.pygments .hll {
  background-color: #2c3b41;
}
pre.pygments {
  background: #263238;
  color: #eeffff;
}
pre.pygments .c {
  color: #546e7a;
  font-style: italic;
} /* Comment */
pre.pygments .err {
  color: #ff5370;
} /* Error */
pre.pygments .esc {
  color: #89ddff;
} /* Escape */
pre.pygments .g {
  color: #eeffff;
} /* Generic */
pre.pygments .k {
  color: #bb80b3;
} /* Keyword */
pre.pygments .l {
  color: #c3e88d;
} /* Literal */
pre.pygments .n {
  color: #eeffff;
} /* Name */
pre.pygments .o {
  color: #89ddff;
} /* Operator */
pre.pygments .p {
  color: #89ddff;
} /* Punctuation */
pre.pygments .ch {
  color: #546e7a;
  font-style: italic;
} /* Comment.Hashbang */
pre.pygments .cm {
  color: #546e7a;
  font-style: italic;
} /* Comment.Multiline */
pre.pygments .cp {
  color: #546e7a;
  font-style: italic;
} /* Comment.Preproc */
pre.pygments .cpf {
  color: #546e7a;
  font-style: italic;
} /* Comment.PreprocFile */
pre.pygments .c1 {
  color: #546e7a;
  font-style: italic;
} /* Comment.Single */
pre.pygments .cs {
  color: #546e7a;
  font-style: italic;
} /* Comment.Special */
pre.pygments .gd {
  color: #ff5370;
} /* Generic.Deleted */
pre.pygments .ge {
  color: #89ddff;
} /* Generic.Emph */
pre.pygments .gr {
  color: #ff5370;
} /* Generic.Error */
pre.pygments .gh {
  color: #c3e88d;
} /* Generic.Heading */
pre.pygments .gi {
  color: #c3e88d;
} /* Generic.Inserted */
pre.pygments .go {
  color: #546e7a;
} /* Generic.Output */
pre.pygments .gp {
  color: #ffcb6b;
} /* Generic.Prompt */
pre.pygments .gs {
  color: #ff5370;
} /* Generic.Strong */
pre.pygments .gu {
  color: #89ddff;
} /* Generic.Subheading */
pre.pygments .gt {
  color: #ff5370;
} /* Generic.Traceback */
pre.pygments .kc {
  color: #89ddff;
} /* Keyword.Constant */
pre.pygments .kd {
  color: #bb80b3;
} /* Keyword.Declaration */
pre.pygments .kn {
  color: #89ddff;
  font-style: italic;
} /* Keyword.Namespace */
pre.pygments .kp {
  color: #89ddff;
} /* Keyword.Pseudo */
pre.pygments .kr {
  color: #bb80b3;
} /* Keyword.Reserved */
pre.pygments .kt {
  color: #bb80b3;
} /* Keyword.Type */
pre.pygments .ld {
  color: #c3e88d;
} /* Literal.Date */
pre.pygments .m {
  color: #f78c6c;
} /* Literal.Number */
pre.pygments .s {
  color: #c3e88d;
} /* Literal.String */
pre.pygments .na {
  color: #bb80b3;
} /* Name.Attribute */
pre.pygments .nb {
  color: #82aaff;
} /* Name.Builtin */
pre.pygments .nc {
  color: #ffcb6b;
} /* Name.Class */
pre.pygments .no {
  color: #eeffff;
} /* Name.Constant */
pre.pygments .nd {
  color: #82aaff;
} /* Name.Decorator */
pre.pygments .ni {
  color: #89ddff;
} /* Name.Entity */
pre.pygments .ne {
  color: #ffcb6b;
} /* Name.Exception */
pre.pygments .nf {
  color: #82aaff;
} /* Name.Function */
pre.pygments .nl {
  color: #82aaff;
} /* Name.Label */
pre.pygments .nn {
  color: #ffcb6b;
} /* Name.Namespace */
pre.pygments .nx {
  color: #eeffff;
} /* Name.Other */
pre.pygments .py {
  color: #ffcb6b;
} /* Name.Property */
pre.pygments .nt {
  color: #ff5370;
} /* Name.Tag */
pre.pygments .nv {
  color: #89ddff;
} /* Name.Variable */
pre.pygments .ow {
  color: #89ddff;
  font-style: italic;
} /* Operator.Word */
pre.pygments .w {
  color: #eeffff;
} /* Text.Whitespace */
pre.pygments .mb {
  color: #f78c6c;
} /* Literal.Number.Bin */
pre.pygments .mf {
  color: #f78c6c;
} /* Literal.Number.Float */
pre.pygments .mh {
  color: #f78c6c;
} /* Literal.Number.Hex */
pre.pygments .mi {
  color: #f78c6c;
} /* Literal.Number.Integer */
pre.pygments .mo {
  color: #f78c6c;
} /* Literal.Number.Oct */
pre.pygments .sa {
  color: #bb80b3;
} /* Literal.String.Affix */
pre.pygments .sb {
  color: #c3e88d;
} /* Literal.String.Backtick */
pre.pygments .sc {
  color: #c3e88d;
} /* Literal.String.Char */
pre.pygments .dl {
  color: #eeffff;
} /* Literal.String.Delimiter */
pre.pygments .sd {
  color: #546e7a;
  font-style: italic;
} /* Literal.String.Doc */
pre.pygments .s2 {
  color: #c3e88d;
} /* Literal.String.Double */
pre.pygments .se {
  color: #eeffff;
} /* Literal.String.Escape */
pre.pygments .sh {
  color: #c3e88d;
} /* Literal.String.Heredoc */
pre.pygments .si {
  color: #89ddff;
} /* Literal.String.Interpol */
pre.pygments .sx {
  color: #c3e88d;
} /* Literal.String.Other */
pre.pygments .sr {
  color: #89ddff;
} /* Literal.String.Regex */
pre.pygments .s1 {
  color: #c3e88d;
} /* Literal.String.Single */
pre.pygments .ss {
  color: #89ddff;
} /* Literal.String.Symbol */
pre.pygments .bp {
  color: #89ddff;
} /* Name.Builtin.Pseudo */
pre.pygments .fm {
  color: #82aaff;
} /* Name.Function.Magic */
pre.pygments .vc {
  color: #89ddff;
} /* Name.Variable.Class */
pre.pygments .vg {
  color: #89ddff;
} /* Name.Variable.Global */
pre.pygments .vi {
  color: #89ddff;
} /* Name.Variable.Instance */
pre.pygments .vm {
  color: #82aaff;
} /* Name.Variable.Magic */
pre.pygments .il {
  color: #f78c6c;
} /* Literal.Number.Integer.Long */
